@page
@using WebApplication.Enums
@model WebApplication.Pages.RegisterModel
@{
    ViewData["Title"] = "Registery";
}

<h1>Registery</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model.Email" class="control-label"></label>
                <input asp-for="Model.Email" class="form-control"/>
                <span asp-validation-for="Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Password" class="control-label"></label>
                <input type="password" asp-for="Model.Password" class="form-control"/>
                <span asp-validation-for="Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.ConfirmPassword" class="control-label"></label>
                <input type="password" asp-for="Model.ConfirmPassword" class="form-control"/>
                <span asp-validation-for="Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <h4>Select type of your account</h4>
            <div class="form-group">
                <br />
                @Html.RadioButtonFor(m => m.Model.Roles, Roles.Company.ToString()) Company
                @Html.RadioButtonFor(m => m.Model.Roles, Roles.User.ToString())  Client
                <span asp-validation-for="Model.Roles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}